{% extends 'base.html' %}
{% load static %}

{% block title %}Work 06 - いろいろ計算ツール{% endblock %}

{% block subtitle %}
Work 06: いろいろ計算ツール
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'work06/style.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>いろいろ計算ツール</h2>
    <ul>
        <li><a href="{% url 'reiwa' %}" class="btn">令和何年ですかツール</a></li>
    </ul>
    
    <div style="margin-top: 30px;">
        <a href="/" class="btn btn-secondary">ホームに戻る</a>
    </div>
</div>
{% endblock %}
