annotated-types==0.7.0
anyio==4.11.0
asgiref==3.9.1
attrs==25.4.0
autobahn==25.10.2
Automat==25.4.16
build==1.2.2.post1
CacheControl==0.14.2
cachetools==6.2.1
certifi==2024.12.14
cffi==2.0.0
channels==4.3.1
charset-normalizer==3.4.1
cleo==2.1.0
constantly==23.10.4
crashtest==0.4.1
cryptography==46.0.3
daphne==4.2.1
distlib==0.3.9
Django==5.2.6
django-basicauth==0.5.3
dulwich==0.21.7
fastjsonschema==2.21.1
filelock==3.16.1
google-ai-generativelanguage==0.6.15
google-api-core==2.26.0
google-api-python-client==2.184.0
google-auth==2.41.1
google-auth-httplib2==0.2.0
google-genai==1.43.0
google-generativeai==0.8.5
googleapis-common-protos==1.70.0
grpcio==1.75.1
grpcio-status==1.71.2
gunicorn==23.0.0
h11==0.16.0
httpcore==1.0.9
httplib2==0.31.0
httpx==0.28.1
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
installer==0.7.0
jaraco.classes==3.4.0
keyring==24.3.1
more-itertools==10.6.0
msgpack==1.1.0
mysql-connector-python==9.4.0
mysqlclient==2.2.7
packaging==24.2
pexpect==4.9.0
pkginfo==1.12.0
platformdirs==4.3.6
poetry==1.8.5
poetry-core==1.9.1
poetry-dotenv-plugin==0.2.0
poetry-plugin-export==1.8.0
proto-plus==1.26.1
protobuf==5.29.5
psycopg==3.2.11
ptyprocess==0.7.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.12.2
pydantic_core==2.41.4
pyOpenSSL==25.3.0
pyparsing==3.2.5
pyproject_hooks==1.2.0
python-dotenv==1.0.1
RapidFuzz==3.11.0
requests==2.32.3
requests-toolbelt==1.0.0
rsa==4.9.1
service-identity==24.2.0
setuptools==80.9.0
shellingham==1.5.4
sniffio==1.3.1
sqlparse==0.5.3
tenacity==9.1.2
tomlkit==0.13.2
tqdm==4.67.1
trove-classifiers==2025.1.15.22
Twisted==25.5.0
txaio==25.9.2
typing-inspection==0.4.2
typing_extensions==4.15.0
uritemplate==4.2.0
urllib3==2.3.0
virtualenv==20.29.0
websockets==15.0.1
whitenoise==6.11.0
xattr==1.1.4
zope.interface==8.0.1
