{% extends 'base.html' %}
{% load static %}

{% block title %}Work 05 - ポートフォリオの表示{% endblock %}

{% block subtitle %}
Work 05: ポートフォリオの表示
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'work05/style.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>こんにちは、Django!</h1>
    <p>これはテンプレートから表示しています。</p>
    <p>私の名前は{{ name }}です。</p>
    <p>私の年齢は{{ age }}です。</p>
    <img src="{% static 'work05/images/image.png' %}" alt="なんか画像">
    
    <div style="margin-top: 30px;">
        <a href="/" class="btn btn-secondary">ホームに戻る</a>
    </div>
</div>
{% endblock %}
