<!-- メモ帳アプリの一覧画面-->
{% extends 'base.html' %}
{% load static %}

{% block title %}Work 08 - メモ帳アプリ{% endblock %}

{% block subtitle %}
<div class="page-subtitle">Work 08: メモ帳アプリ</div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'work08/style.css' %}">
{% endblock %}

{% block content %}
<div class="container">

    <div class="header-with-button">
        <h2>メモ一覧</h2>
        <a class="btn btn-primary" href="{% url 'work08:create' %}">新規作成</a>
    </div>

    <div class="memos">
        {% for memo in memos %}
            <ul class="list-table">
                <li class="table-row"><a href="{% url 'work08:edit' memo.id %}" class="btn btn-secondary btn-sm">編集</a><span>{{ memo.title }}</span></li>
            </ul>
        {% endfor %}
    </div>
    
    <div style="margin-top: 30px;">
        <a href="/" class="btn btn-secondary">ホームに戻る</a>
    </div>
</div>
{% endblock %}
