{% extends 'base.html' %}
{% load static %}

{% block title %}Work 07 - いろいろミニゲーム{% endblock %}

{% block subtitle %}
<div class="page-subtitle">Work 07: いろいろミニゲーム</div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'work07/style.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>いろいろミニゲーム</h1>

    <ul>
        <li><a href="{% url 'omikuji' %}" class="btn">おみくじ</a></li>
    </ul>
    
    <div style="margin-top: 30px;">
        <a href="/" class="btn btn-secondary">ホームに戻る</a>
    </div>
</div>
{% endblock %}
